@import url('https://fonts.googleapis.com/css2?family=Itim&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  margin:0;
  min-height: 100%;
}

body {
  margin:0;
  min-height: 100%;
  margin-bottom: 125px;
  font-family: 'Jost', Arial, sans-serif;
}

// HEADER
header {
  background-color: #4B8DCA;
  
  li {
    &:hover {
      text-shadow: 0 0 8px #ffffff;
      cursor: pointer;
    }
  }
}

.navbar {
  img {
    max-height: 88px;
  }
}

// MAIN
main {
  min-height: calc(100vh - 120px);
}

aside {
  width: 60%;
  background-image: url("./img/batiment.jpg");
}

.content {
  width: 40%;

  h1 {
    font-family: "Itim", Arial, sans-serif;
    color: #4B8DCA;
    line-height: 1.2;
  }

  .cta {
    background-color: #4B8DCA;
    color: #ffffff;
    vertical-align: middle;

    a {
      text-decoration: underline;
      text-decoration-thickness: 1.2px;
      text-underline-offset: 4px;

      &:hover {
        text-shadow: 0 0 4px #ffffff;
      }
    }

    img {
      display: inline;
      max-height: 16px;
    }
  }

  img {
    max-width: 40%;
  }
}